{% extends 'layout.html' %}

{% block content %}

<html>
  <head>
    <style>
      table, th, td{
        width: 25%;
        border: 2px solid;
        border-collapse: collapse;
      }

      th{
        background-color: grey;
        border: 2px black;
        height: 1cm;
      }

      table{
        position: absolute;
        padding-left: 60%;
        padding-top: 20%;
      }


    </style>
  </head>

<body>
  



{% if id %}
  <h1>Favorite list</h1>

  <h2>New movies</h2>

  <h3>Highest rated movies</h3>

{%else%}

  <table>
    <tr>
      <th>
        New releases
      </th>
    </tr>
    {% for title, genres, date in newm %}
    <tr>
      <td>
        <form action="" method="post">
            <button style="cursor: pointer; width: 100%;" type="submit" name="newmovie" value={{TID}}>
              {{ title }}  <br /> {{genres}}
            </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>


  <h3 style="padding-left: 5%;">Highest rated movies</h3>

{% endif%}



{% endblock content %}
</body>
</html>