{% extends 'layout.html' %}

{% block content %}

<html>
  <style>
    table, th, td{
      width: 30%;
      border: 2px solid;
      border-collapse: collapse;
    }

    th{
      background-color: grey;
      border: 2px black;
      height: 1cm;
    }

    table{
      position: absolute;
      padding-left: 60%;
      padding-top: 20%;
    }

    .usertable{
      width: 80%;
      border: 2px solid;
      border-collapse: collapse;
    }

    input[type=text]{
      margin: 5px 5px;
    }

  </style>

<body>
  



{% if id %}
  <form action="" method="post">
    <label for="favesearch"> Search favorites by title</label>
    <input type="text" name="favesearch">
    <input type="submit" value="Search" name="favoritesearch">
  </form>
  <form action="" method="post">
    <label for="ratesearch">Search rated films by title</label>
    <input type="text" name="ratesearch">
    <input type="submit" value="Search" name="ratedsearch">
  </form>

  <table class="usertable">
    <tr>
      <th> New releases</th>
      <th> Favorite list</th>
      <th> Your rated films</th>
    </tr>
    <tr>
      <td>
        <table>
          {% for id,genres,date,title in newm %}
            <tr>
              <td>
                <form action="" method="post">
                    <button style="cursor: pointer; width: 100%;" type="submit" name="newmovie" value={{id}}>
                      {{ title }} <br /> Release date: {{date}} <br /> {{genres}}
                    </button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </table>
      </td>
      <td>
        <table>
          {% for mid,ftitle in favm%}
          <tr>
            <td>
              <form action="" method="post">
                <button style="cursor: pointer; width: 100%;" type="submit" name="newmovie" value={{mid}}>{{ ftitle }}</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>
      </td>
      <td>
        <table>
          {% for rid,rtitle in ratedm%}
          <tr>
            <td>
              <form action="" method="post">
                <button style="cursor: pointer; width: 100%;" type="submit" name="newmovie" value={{rid}}>{{ rtitle }}</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>


  </table>

{%else%}

  <table>
    <tr>
      <th>
        New releases
      </th>
    </tr>
    {% for id,genres,date,title in newm %}
    <tr>
      <td>
        <form action="" method="post">
            <button style="cursor: pointer; width: 100%;" type="submit" name="newmovie" value={{id}}>
              {{ title }} <br /> Release date: {{date}} <br /> {{genres}}
            </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>


  <h3 style="padding-left: 5%;">Highest rated movies</h3>

{% endif%}



{% endblock content %}
</body>
</html>