{% extends 'layout.html' %}

{% block content %}

<html>
  <head>
    <style>

    </style>
  </head>
</html>



{% if id %}
  <h1>Favorite list</h1>

  <h2>New movies</h2>

  <h3>Highest rated movies</h3>

{%else%}
  <table style="width: 35%; border: 1px solid black; background-color: white; ">
    <tr>
      <th>
        New releases
      </th>
    </tr>
    {% for title, genres, date in newm %}
    <tr>
      <th>
        <form action="" method="post">
            <button style="cursor: pointer;" class="button" type="submit" name="newmovie" value={{TID}}>{{ title }} {{date}}</button>
        </form>
      </th>
    </tr>
    {% endfor %}
  </table>


  <h3>Highest rated movies</h3>

{% endif%}



{% endblock content %}